#exemplo {
	width: 200px;
	height: 200px;
	margin: 20px;
	border: 1px solid #ccc;
}

.verde {
	background-color: #00ff00;
	color: #fff;
}

.vermelho {
	background-color: #ff0000;
}

.azul {
	background-color: #0000ff;
}

.preto {
	background-color: #000000;
	color: #fff;
}

.imagem {
	height: 400px;
}

.texto {
	width: 200px;
	height: 900px;
	overflow: auto;
	background-color: #ccc;
	padding: 20px;
	border: 2px solid #ff0000;
}

.scrollbutton {
	width: 40px;
	height: 40px;
	border-radius: 15px;
	background-color: #ff0000;
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 999;
	cursor: pointer;
	display: none;
}